@font-face {
    font-family: 'Raleway';
    src: url('/font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway';
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-image: url("/img/backg.jpg");
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin-left: 10px;
}

h3 {
    font-size: 20px;
    padding-left: 20px;
    margin: 0;
}

h4 {
    font-size: 14px;
    text-align: center;
    color: #EA5A5A;
}

.div_class {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

/* ----------------------------------header */

.header_main {
    display: flex;
    flex-direction: column;
    background-color: #1F1D28;
    width: 300px;
    height: 800px;
    border-radius: 10px 0 0 10px;
    border: 3px solid #1a1922;
}

.logo {
    width: 100px;
}

.title {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
}

.kategori {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 5px 40px;
    transition: all 500ms ease-in-out;
}

li:hover {
    position: relative;
    background-color: #1a1922;
    cursor: pointer;
}

li:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #EA5A5A;
    border-radius: 2px;
}

.line {
    display: flex;
    background-color: #1a1922;
    width: 100%;
    height: 3px;
}

.social_media {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.social_media img {
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
    transition: all 500ms ease-in-out;
}

.social_media img:hover {
    filter: invert(39%) sepia(66%) saturate(658%) hue-rotate(322deg) brightness(101%) contrast(95%);
    cursor: pointer;
}

/* ----------------------------------main */
.main_class {
    position: relative;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    color: #282633;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.main_img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin: 10px;
}

/* ---------------------------------- */
.bild_click {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000;
}


.hide {
    display: none;
}

/* ---------------------------------- */
 .dialog_img{
    width: 90%;
    height: 70vh;
    object-position: center;
    border-radius: 5px;
 }
.dialog{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.dialog_header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialog_main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.dialog_footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
/* ---------------------------------- */