@font-face {
    font-family: "Roboto";
    src: url('/font/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-image: url("/img/backg.jpg");
    background-size: cover;
    background-position: bottom;
}

p {
    margin: 0;
    font-size: 17px;
}

span {
    font-size: 14px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    padding-left: 20px;
    margin: 0;
}

h4 {
    font-size: 14px;
    text-align: center;
    color: #EA5A5A;
}

h5 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    color: #1F435B;
}

button {
    background-color: lightgrey;
    color: rgb(124, 124, 124);
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid #abb7be00;
}

.div_class {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* ----------------------------------header */

.header_main {
    display: flex;
    flex-direction: column;
    background-color: #1F1D28;
    width: 300px;
    height: 800px;
    border-radius: 10px 0 0 10px;
    border: 3px solid #1a1922;
}

.logo {
    width: 100px;
}

.title {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
}

.kategori {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 5px 40px;
    transition: all 500ms ease-in-out;
}

li:hover {
    position: relative;
    background-color: #1a1922;
    cursor: pointer;
}

li:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #EA5A5A;
    border-radius: 2px;
}

.line {
    display: flex;
    background-color: #1a1922;
    width: 100%;
    height: 3px;
}

.social_media {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.social_media img {
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
    transition: all 500ms ease-in-out;
}

.social_media img:hover {
    filter: invert(39%) sepia(66%) saturate(658%) hue-rotate(322deg) brightness(101%) contrast(95%);
    cursor: pointer;
}

.impressum {
    max-width: 800px;
    line-height: 1.6;
}

.impressum_datenschutz {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    transition: all 500ms ease-in-out;
}

.impressum_datenschutz a {
    color: rgb(230, 230, 230);
    transition: all 500ms ease-in-out;
}

.impressum_datenschutz a:hover {
    filter: invert(39%) sepia(66%) saturate(658%) hue-rotate(322deg) brightness(101%) contrast(95%);
    cursor: pointer;
}

/* ----------------------------------main */
.main_class {
    position: relative;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    color: #282633;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.main_img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin: 10px;
    transition: scale 1s ease;
    border: 1px solid #28263365;

}

.main_img:hover {
    scale: 1.05;
    border: 2px solid #EA5A5A;
    cursor: pointer;
}

/* ---------------------------------- */
.bild_click {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: #000;
}


.hide {
    display: none;
}

/* ---------------------------------- */
.dialog_img {
    width: 90%;
    height: 70vh;
    object-position: center;
    border-radius: 10px;
    border: 3px solid #1f435b23;
    transition: all 1s ease-in-out;
    object-fit: cover;

}

.dialog_img:hover {
    border: 3px solid #EA5A5A;
    ;
    ;
}

.dialog {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.dialog_header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.dialog_main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dialog_footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.dialog_icon {
    width: 20px;
    filter: invert(20%) sepia(25%) saturate(1300%) hue-rotate(170deg) brightness(90%) contrast(90%);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.dialog_icon:hover {
    filter: invert(39%) sepia(66%) saturate(658%) hue-rotate(322deg) brightness(101%) contrast(95%);
}

.icon_close {
    width: 17px;
    filter: invert(20%) sepia(25%) saturate(1300%) hue-rotate(170deg) brightness(90%) contrast(90%);
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.icon_close:hover {
    filter: invert(39%) sepia(66%) saturate(658%) hue-rotate(322deg) brightness(101%) contrast(95%);
}

.dialog_slash {
    width: 40px;
    filter: invert(20%) sepia(25%) saturate(1300%) hue-rotate(170deg) brightness(90%) contrast(90%);
}

/* --------------------Über mich-------------------- */
.Über_mich{
    width: 50%;
}

/* --------------------kontakt-------------------- */
.kontank_div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 79vh;
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: #f0f0f1ab; */
    /* border-radius: 10px; */
    padding: 10px;
    width: 400px;
    gap: 20px;
    /* border: 1px solid #1f1d2827; */
}

textarea {
    font-family: "Raleway", sans-serif;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 1px solid #1f1d2827;

}

.text-box {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 10px;
    border-style: none;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #1f1d2827;

}

.div_senden {
    display: flex;
    justify-content: flex-end;
}

.senden {
    background-color: #1f1d2827;
    font-size: 16px;
    color: #1f1d28;
    border-style: none;
    border-radius: 5px;
    padding: 8px 26px;
    cursor: pointer;
    align-self: center;
    border: 1px solid #1f1d2827;
    transition: all 500ms ease-in-out;

}

.senden:hover {
    background-color: #1f1d28;
    border: 1px solid ;
    color: #ffffff;
    scale: 1.01;
}